body {
  color: white;
  font-family: Maximum Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.main-container {
  padding: 25px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 25px;
}

.header {
  flex: 2;
}

.tv-show-detail {
  flex: 4;
}

.recommendations {
  flex: 2;
}

/* Mouse out of scrollbar */
::-webkit-scrollbar {
  height: 14px;
  width: 4px;
  background: transparent;
}

/* Mouse out on horizontal scrollbar */
::-webkit-scrollbar-thumb:horizontal {
  background: rgba(0, 0, 0, 0.61);
  border-radius: 10px;
}
